# Impute CA - Children

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/children.rda')
children = result["children"]
children

,unqualified,cep,bepc,high_school_diploma,university,thirty,fifty,more_fifty
rownames,,,,,,,,
money,51,64,32,29,17,59,66,70
future,53,90,78,75,22,115,117,86
unemployment,71,111,50,40,11,79,88,177
circumstances,1,7,5,5,4,9,8,5
hard,7,11,4,3,2,2,17,18
economic,7,13,12,11,11,18,19,17
egoism,21,37,14,26,9,14,34,61
employment,12,35,19,6,7,21,30,28
finances,10,7,7,3,1,8,12,8
war,4,7,7,6,2,7,6,13
housing,8,22,7,10,5,10,27,17
fear,25,45,38,38,13,48,59,52
health,18,27,20,19,9,13,29,53
work,35,61,29,14,12,30,63,58
comfort,2,4,3,1,4,NaN,NaN,NaN
disagreement,2,8,2,5,2,NaN,NaN,NaN
world,1,5,4,6,3,NaN,NaN,NaN
to_live,3,3,1,3,4,NaN,NaN,NaN

In [3]:
for col in children.columns:
    children[col] = children[col].astype("float")
children.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, money to to_live
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   unqualified          18 non-null     float64
 1   cep                  18 non-null     float64
 2   bepc                 18 non-null     float64
 3   high_school_diploma  18 non-null     float64
 4   university           18 non-null     float64
 5   thirty               14 non-null     float64
 6   fifty                14 non-null     float64
 7   more_fifty           14 non-null     float64
dtypes: float64(8)
memory usage: 1.3+ KB

In [4]:
from missmdatools import imputeCA
res_impute = imputeCA(children,n_components=2,random_state=123)

In [5]:
res_impute

,unqualified,cep,bepc,high_school_diploma,university,thirty,fifty,more_fifty
rownames,,,,,,,,
money,51.0,64.0,32.0,29.0,17.0,59.000000,66.000000,70.000000
future,53.0,90.0,78.0,75.0,22.0,115.000000,117.000000,86.000000
unemployment,71.0,111.0,50.0,40.0,11.0,79.000000,88.000000,177.000000
circumstances,1.0,7.0,5.0,5.0,4.0,9.000000,8.000000,5.000000
hard,7.0,11.0,4.0,3.0,2.0,2.000000,17.000000,18.000000
economic,7.0,13.0,12.0,11.0,11.0,18.000000,19.000000,17.000000
egoism,21.0,37.0,14.0,26.0,9.0,14.000000,34.000000,61.000000
employment,12.0,35.0,19.0,6.0,7.0,21.000000,30.000000,28.000000
finances,10.0,7.0,7.0,3.0,1.0,8.000000,12.000000,8.000000
war,4.0,7.0,7.0,6.0,2.0,7.000000,6.000000,13.000000
housing,8.0,22.0,7.0,10.0,5.0,10.000000,27.000000,17.000000
fear,25.0,45.0,38.0,38.0,13.0,48.000000,59.000000,52.000000
health,18.0,27.0,20.0,19.0,9.0,13.000000,29.000000,53.000000
work,35.0,61.0,29.0,14.0,12.0,30.000000,63.000000,58.000000
comfort,2.0,4.0,3.0,1.0,4.0,978.074951,-431.192856,-1486.040485
disagreement,2.0,8.0,2.0,5.0,2.0,-1070.515888,862.024058,1114.816083
world,1.0,5.0,4.0,6.0,3.0,2207.135050,-1579.894820,-1654.753228
to_live,3.0,3.0,1.0,3.0,4.0,2264.789426,-1634.690081,-1432.259141