# imputePCA - Ozone

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/ozone.rda')
ozone = result["ozone"]
ozone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 20010601 to 20010930
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   maxO3   99 non-null     object
 1   T9      103 non-null    float64
 2   T12     96 non-null     float64
 3   T15     93 non-null     float64
 4   Ne9     106 non-null    object
 5   Ne12    101 non-null    object
 6   Ne15    99 non-null     object
 7   Vx9     106 non-null    float64
 8   Vx12    98 non-null     float64
 9   Vx15    98 non-null     float64
 10  maxO3v  107 non-null    object
 11  vent    101 non-null    category
 12  pluie   104 non-null    category
dtypes: category(2), float64(6), object(5)
memory usage: 11.0+ KB

In [3]:
from missmdatools import imputePCA
res_impute = imputePCA(X=ozone,n_components=2,quali_sup=[11,12])

In [4]:
res_impute["completeObs"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,vent,pluie
rownames,,,,,,,,,,,,,
20010601,87.0,15.6,18.5,18.400000,4.0,4.0,8.0,0.6946,-1.71010,-0.694600,84.0,Nord,Sec
20010602,73.468578,17.0,18.4,17.700000,5.0,5.0,7.0,-4.3301,-4.00000,-3.000000,87.0,Nord,Sec
20010603,92.0,15.3,17.6,19.500000,2.0,5.0,4.0,2.9544,1.87940,0.520900,82.0,Est,NaN
20010604,114.0,16.2,19.7,22.500000,1.0,3.151998,0.0,0.9848,2.73788,2.756403,92.0,NaN,Sec
20010605,94.0,17.4,20.5,20.400000,8.0,8.0,7.0,-0.5000,-2.95440,-4.330100,114.0,Ouest,Sec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20010925,84.0,13.3,17.7,17.800000,3.0,5.0,6.0,0.0000,-1.00000,-1.285600,76.0,Sud,Sec
20010927,77.0,16.2,20.8,22.100000,6.0,5.0,5.0,-0.6946,-2.00000,-1.472948,71.0,NaN,Pluie
20010928,99.0,16.9,23.0,22.078913,6.0,4.0,7.0,1.5000,0.86820,0.868200,77.0,Sud,Sec
20010929,83.0,16.9,19.8,22.100000,6.0,5.0,3.0,-4.0000,-3.75880,-4.000000,99.0,Ouest,Pluie
20010930,70.0,15.7,18.6,20.700000,7.0,7.0,7.0,0.0000,-1.04190,-4.000000,83.0,Sud,Sec